<a href="https://colab.research.google.com/github/venkatareddykonasani/book-machine-learning-and-deep-learning-using-python-and-tensorflow/blob/main/Chapter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***CHAPTER 2 - Python Introduction***

## Basic Operations
First few lines of code

In [ ]:
print(601+49)
print(19*17)
print("Python code")

* For doing the basic operations like addition, substraction, multiplication and division, python uses usual symbols like '+', '-', '*', '/' respectively.

In [ ]:
x=7
print(x)

* For printing the results, the syntax is print()
* To write a single line comment, use # 
* And to write multiline comment use three quotes

Eg. # Single line comment

""" 

Multiline comments

"""

## Examples of Errors

### Error 1

In [ ]:
Print(600+900)

Here instead of 'print()', 'Print()' is used. Hence the error occured.

### Error 2

In [ ]:
print(576-'96')

A string cannot be subtracted from an integer. Hence error occured in this case.

In [ ]:
print(576-'96')
y=10
print(y)

If error is there in any of the line then the lines after the error will not be executed.

## Defining a variable

In [ ]:
1x=20

While defining a variable one cannot start with a number.Every object name should start with an alphabet only. Numbers are not allowed as the starting letters of an object name.

In [ ]:
x1=20

An object name can contain numbers followed by an alphabet(s)

In [ ]:
x.1=20

We can’t have all special characters in the variable names. For example, an underscore is allowed but dot and dollar sign are not allowed

In [ ]:
x_1=20

## Dynamic assignment of variables during code execution

In [ ]:
income=12000
print(income)

The variable assignment in Python is dynamic.We need not declare income as an integer before assigning 12000. Python will dynamically identify it as an integer

In [ ]:
z=x*y
print(z)

Since y is not defined previously hence the error occured. We need to predefine x, y before executing x*y

In [ ]:
x=20
print(x)
y=30
z=x*y
print(z)

In [ ]:
income="March"
print(income)

If we store some value in a variable, we can replace it with any other value even if it is of different datatype. You will not even get a warning before the replacement takes place.

## Printing along with a message

Example 1

In [ ]:
age=35
print("Age value is", age)

Example 2

In [ ]:
income=5000
print("income is", income , "$")

Example 3

In [ ]:
gdp_percap=59531
Country="United States" 
print("GDP per capita of", Country, "is" , gdp_percap)

## Types of objects in python

In [ ]:
# Example 1
sales=30000
print(sales)
print("type of object is ", type(sales)) 

#Example 2
Avg_expenses =5000.25
print(Avg_expenses)
print("type of object is ", type(Avg_expenses))

## Strings in python

### Defining Strings

In [ ]:
name="Sheldon"
msg="sent a mail to Jack"

### Accessing Strings

In [ ]:
print(name[0])
print(name[1])

### Extracting substrings from strings

In [ ]:
print(name[0:4])
print(name[4:6])
print(msg[0:9])
print(msg[9:14])

### Finding length of string

In [ ]:
print(len(msg))
print(msg[9:len(msg)])

### String Concatenation

In [ ]:
new_msg= name +" " +  msg
print(new_msg)

## Lists in python

### Defining lists

In [ ]:
mylist1=["Sheldon","Tommy", "Benny"]
print(type(mylist1))

### Accessing values from a list

In [ ]:
print(mylist1[0])
print(mylist1[1])

### Length of strings
Number of elements in the list can be accessed by using len() function

In [ ]:
len(mylist1)

### List appending or combining two lists into one

In [ ]:
mylist2=["Ken","Bill"]
new_list=mylist1 + mylist2
print(new_list)

### Updating an element in the list

In [ ]:
print("actual list",mylist1)
mylist1[0]="John"
print("list after updating" ,mylist1)

### Deleting an element from the list

In [ ]:
print("actual list",mylist2)
del mylist2[0]
print("list after deleting" ,mylist2)

## Difference between array and a list

In [ ]:
val1=[1,7,6]
val2=[6,2,2]
val3=val1+val2
print(val3)

In [ ]:
details=["John", 1500, "LA"]
print(details)

Lists can contain different datatypes.

In [ ]:
details_all=["John", 1500, "LA",mylist1 ]
print(details_all)

We can add list inside a list.

## Dictionaries

### Defining a dictionary

In [ ]:
city={2:"Los Angeles", 9:"Dallas" , 21:"Boston"}
print(city)
print(type(city))

### Accessing values from a dictionary

In [ ]:
print(city[9])
print(city[2])

### Printing all keys

In [ ]:
print(city.keys())

### Printing all values

In [ ]:
print(city.values())

### Updating an element value in the dictionary

In [ ]:
city[2]="New York"
print(city)

### Deleting a value from dictionary

In [ ]:
del(city[2])
print(city)

### Keys in dictionary

In [ ]:
country={1:"USA", 6:"Brazil" , 7:"India", 6: "France" }
print(country)

Keys can never repeat. In case of a repeat key, Python doesn’t throw an error but it automatically ignores the value associated with first key.

In [ ]:
GDP= {"USA": 20494, "China" : 13407}
print(GDP)
print(GDP["USA"])
print(GDP[USA])

We can have non-numeric keys as well but while accessing it you need to pass the key values like a string - with quotes.

In [ ]:
cust={"cust1":[19, 9500], "cust2":[21, 10000]}
print(cust)
print(cust["cust1"])

Values in the dictionary can be lists also.

## Packages in python

In [ ]:
print(log(10))

In [ ]:
print(sqrt(256))

Python is throwing errors. It is not due to the wrong syntax or erroneous function names. Python is a multi-purpose language; it doesn’t have log as one of its core functions. Python doesn’t have a square root function either.

Python contains a package called math. Just import math package, and you can now safely use log and sqrt.

In [ ]:
import math
print(math.log(10))
print(math.sqrt(256))

### Numpy

In [ ]:
import numpy as np

income = np.array([6725, 9365, 8030, 8750])
print(type(income))
print(income) 
print(income[0])

Creating a new array from income array

In [ ]:
expenses=income*0.65
print(expenses)

In [ ]:
savings=income-expenses
print(savings)

#### Array VS list

In [ ]:
income_list=[6725, 9365, 8030, 8750]
income_array = np.array(income_list)

In [ ]:
print(income_list*2)
print(income_array*2)

### Pandas

In [ ]:
import pandas as pd

To upload the data/files in google colab, use following syntax

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
bank= pd.read_csv('/content/drive/My Drive/DataSets/Chapter-2/Datasets/Bank Tele Marketing/bank_market.csv')
print(bank)

### Matplotlib

In [ ]:
bank= pd.read_csv('/content/drive/My Drive/DataSets/Chapter-2/Datasets/Bank Tele Marketing/bank_market.csv')
print(bank.columns)

In [ ]:
import matplotlib as mp
mp.pyplot.scatter(bank.age,bank.balance)

## Conditions and Loops in python

### If condition

Example 1

In [ ]:
level=60
if level<50:
    print("Stage1")
print("Done with If")

Example 2

In [ ]:
level=60
if level<50:
    print("Stage1")
    print("Done with If")

Example 3

In [ ]:
level=40
if level<50:
    print("Stage1")
print("Done with If")

Example 4

In [ ]:
level=60
if level<50:
    print("Stage1")
else:
    print("Stage2")
print("Done with If")

### For loop

Example 1

In [ ]:
names=["Tommy", "Benny", "Ken"]
for i in names:
    print("The name is", i)

Example 2

In [ ]:
nums=range(1,10)
cumsum=0
for i in nums:
    cumsum=cumsum+i
    print("Cumulative sum till", i ,"is", cumsum)

## Data Importing and basic details

In [ ]:
import pandas as pd

#### Importing data from csv files

In [ ]:
sales= pd.read_csv('/content/drive/My Drive/DataSets/Chapter-2/Datasets/Sales/Sales.csv')
print(sales)

#### Importing data from Microsoft Excel files

In [ ]:
wb_data = pd.read_excel("/content/drive/My Drive/DataSets/Chapter-2/Datasets/World Bank Data/World Bank Indicators.xlsx" , "Data by country")
print(wb_data)

### Basic Details of dataset.

In [ ]:
print(sales.shape)
print(sales.columns)
print(sales.head(10))
print(sales.tail(10))

In [ ]:
print(sales.sample(n=10))
print(sales.dtypes)

In [ ]:
print(sales.describe())
print(sales["Invoice_Amount"].describe())

In [ ]:
print(sales["Sales_Type"].value_counts())

In [ ]:
print(sum(sales["Country_code"].isnull()))
print(sum(sales["CustName"].isnull()))
print(sum(sales["Invoice_Amount"].isnull()))

## Subsets and Data filters

In [ ]:
bank= pd.read_csv('/content/drive/My Drive/DataSets/Chapter-2/Datasets/Bank Tele Marketing/bank_market.csv')
print(bank.shape)
print(bank.columns)

we can create new datasets by selecting or excluding few columns or rows.

**Method 1**

Here we need to mention the row count to keep first few rows.

In [ ]:
bank1 = bank.head(5)
print(bank1)

**Method 2**

In Python wow index starts with zero. You can mention the index number in iloc(index location) to keep some specific rows. If you are keeping only a specific row, the result will be formatted as a series, and not as a data frame.

In [ ]:
bank2=bank.iloc[2]
print(bank2)
print(type(bank2))

**Method 3**

In case you wish to mention a greater number of indices, mention them as a list. Either you can define the list beforehand or pass it on directly.
Here the outside bracket [ ] is for accessing while inside bucket is to define the list

In [ ]:
index_vals=[2,9,15,25]
bank3=bank.iloc[index_vals]
print(bank3)

In [ ]:
bank3=bank.iloc[[2,9,15,25]]
print(bank3)

**Method 4**

New dataset by keeping selected columns

In [ ]:
bank4 = bank[["job", "age"]]
print(bank4.head(5))

**Method 5**

If you need a new dataset by keeping selected columns and rows, just mention the relevant column names and row indexes in iloc

In [ ]:
bank5 = bank[["job", "age"]].iloc[0:5]
print(bank5)

The code given above keeps only two columns job and age along with the first five rows of bank dataset. Remember mentioning [0:5] will include zero and exclude five. Total of five rows will be selected, - zero till four.

**Method 6**

New data by excluding columns. We need to use the drop function with a mention of the row indices. 
The code below excludes four rows and creates a new dataset bank6. Here we are excluding row 1, row3, row5 and row7. You can verify that by looking at customer numbers.

In [ ]:
bank6=bank.drop([0,2,4,6])
print(bank6.head(5))

**Method 7**

New data by excluding columns

Again, we need to use the drop function and mention the column names, but there is an additional parameter we need to provide as axis=1. The same drop function is used both for dropping rows and columns. While dropping rows we used axis=0 and while doing the same with columns, we used axis=1. If you don’t mention any axis value, it will be taken default zero. While dropping rows it is perfectly fine if you don’t mention axis. But while dropping columns it is mandatory to mention axis=1, else you will get axis related error.

In [ ]:
bank7=bank.drop(["Cust_num"], axis=1)
print(bank7.head(5))

If you don't mention the axis you will fet following error

In [ ]:
bank7_1=bank.drop(["Cust_num"])

**Method 8**-Filter conditions

Most of the time we use these types of filters for sub setting the data rather than using the indexes.In the below example we are trying to get a subset from bank data where age>40. While mentioning the column name in the filter condition you need to mention dataset name again.

In [ ]:
bank8=bank[bank['age']>40]
print(bank8.shape)

### AND condition & filters

In [ ]:
bank9=bank[(bank['age']>40) & (bank['loan']=="no")]
print(bank9.shape)

### OR condition & filter

In [ ]:
bank10=bank[(bank['age']>40) | (bank['loan']=="no")]
print(bank10.shape)

## Some other useful commands

### Creating new columns

In [ ]:
print(bank.shape)
print(bank.columns)
bank["bal_new"]=bank["balance"]*0.9
print(bank.shape)
print(bank.columns)

### Joining Datasets

The function used for joining the datasets is pd.merge(). We can perform standard joining operations like outer join, inner join, left and right outer joins. Here is the code with an explanation for performing joins.  
Product1 and Product2 are the two data sets. “On” is the primary key that is present in both the datasets. The parameter value “how” will decide the type of join.

In [ ]:
product1= pd.read_csv(r"/content/drive/My Drive/DataSets/Chapter-2/Datasets/Orders Products/Product1_orders.csv")
print(product1.shape)
print(product1.columns)

In [ ]:
product2= pd.read_csv(r"/content/drive/My Drive/DataSets/Chapter-2/Datasets/Orders Products/Product2_orders.csv")
print(product2.shape)
print(product2.columns)

#### Inner join

In [ ]:
inner_data=pd.merge(product1, product2, on='Cust_id', how='inner')
print(inner_data.shape)

#### Outer join

In [ ]:
outer_data=pd.merge(product1, product2, on='Cust_id', how='outer')
print(outer_data.shape)

#### Left outer join

In [ ]:
L_outer_data=pd.merge(product1, product2, on='Cust_id', how='left')
print(L_outer_data.shape)

#### Right outer join

In [ ]:
R_outer_data=pd.merge(product1, product2, on='Cust_id', how='right')
print(R_outer_data.shape)

#### Inner join 2

If the comparing column name is different in two datasets, you can use left_on and right_on option

In [ ]:
inner_data1=pd.merge(product1, product2, left_on='Cust_id',right_on='Cust_id', how='inner')
print(inner_data1.shape)

## Basic statistics and Data exploration

### Basic descriptive statitics

In [ ]:
import pandas as pd
income_data= pd.read_csv(r"/content/drive/My Drive/DataSets/Chapter-2/Datasets/Census Income Data/Income_data.csv")
print(income_data.shape)
print(income_data.columns)

#### Mean

In [ ]:
print(income_data["capital-gain"].mean())

#### Median

In [ ]:
print(income_data["capital-gain"].median())

### Data exploration

#### Exploring numeric continuous variables

To explore continuous variables, we use percentiles and percentile distributions. First, let’s try to explore what percentiles are.

##### Percentiles

The variable we are going to use here is capital-gain from income data. In previous discussions, we had already identified something fishy about this variable. Mean is 1,077.6 and median is 0. Let’s now try to calculate it’s percentile values.

In [ ]:
print(income_data["capital-gain"].quantile(0.2))

In [ ]:
print(income_data["capital-gain"].quantile([0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]))

The output is not really what we expected. At the first glance it is confusing and not easy to comprehend. Let’s study through the output. There are two columns in the output. First column is the percentile, and the other its value. Which is value?  It is value of the variable, which is capital-gain in this case.

In [ ]:
print(income_data["capital-gain"].quantile([0.9,0.91,0.92,0.93,0.94,0.95,0.96,0.97,0.98,0.99,1]))

As you can see 91 percentiles is zero, from 92 percentile onwards we see some positive values. Which means, 91% of the data is simply zeros, only remaining 9% of the data has some positive values.

For exploring continuous variables we need to use percentiles. They will not only show you the complete distribution of a variable, but they will also help you in identifying outliers in the process. You can even guess what percentage of the data outliers are. If you have a continuous variable, it can take almost any value. It helps to use percentiles if you wish to get a feel of its distribution.

**Example of Percentile**

Let’s first get the standard percentiles as usual and identify any deep dive areas. For this exercise more than 60 hours is on the higher side and less than 20 lowers. we are not really interested in less than 24 and greater than 55. Let’s start with the deep dive of top 10 percentile. 
We need to drill down first 10 and last 10 percentiles. As our limits are 20 and 60,

In [ ]:
print(income_data["hours-per-week"].quantile([0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]))
print(income_data["hours-per-week"].quantile([0.9,0.91,0.92,0.93,0.94,0.95,0.96,0.97,0.98,0.99,1]))
print(income_data["hours-per-week"].quantile([0,0.01,0.02,0.03,0.04,0.05,0.06,0.07,0.08,0.09,0.1]))

Now let’s proceed to detection of outliers on the higher side. The output clearly shows 92% of the data is less than 60 and remaining 8% is more than or equal to 60%, so, 8% can be termed as high side outliers. If we are looking for strictly more than 60 hours, then it is 4% of the data.

In the output we can clearly observe 8% of the data is less than or equal to 20 hours. The lower side outlier percentage is 8%. If you are strictly looking for the data less than 20 and ignore values equal to 20 hours, this percentile stands at 5%.

**Finally, we have 4% high side outliers and low side 5% outliers. This is how you detect outliers and explore continuous variables.**

#### Exploring discrete and categorical variables
Categorial variables have certain classes. These classes are nothing but the categories. To explore a categorical variable, we need to create a frequency table, which is much like a group by table or a summary table. A frequency table contains all the available categories (in a given set of data) and frequency counts or number of occurrences of each category type. You will get an idea on all unique classes and their weightage in the given data.

In [ ]:
income_data["education"].value_counts()

**Along with percentage:**
we are trying to first create frequency counts, then percentages are calculated using normalize=True option. We then concatenate frequency and percentages into a table. axis=1 , which indicates we are concatenating columns. The parameter keys mentions the actual column names in the resultant table.

In [ ]:
freq=income_data["education"].value_counts()
percent=income_data["education"].value_counts(normalize=True)
freq_table=pd.concat([freq,percent], axis=1, keys=["counts","percent"])
print(freq_table)

In [ ]:
#Frequnecy example -2 
income_data["workclass"].value_counts()

**Cross tab:**

Only 24% are earning more than 50K in the entire available data. Now let’s create a cross tab by comparing both education and income band. After that we will try get to get the income band distribution in each class of education

In [ ]:
#Cross tab
print(income_data["Income_band"].value_counts())
print(income_data["Income_band"].value_counts(normalize=True))
cross_tab=pd.crosstab(income_data["education"],income_data['Income_band'])
cross_tab_p=cross_tab.astype(float).div(cross_tab.sum(axis=1), axis=0)
final_table=pd.concat([cross_tab,cross_tab_p], axis=1)
print(final_table)